/*General*/
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.inactive{
    display: none;
}

/*Nav*/
.Menu{
    display: none;
    cursor: pointer;
}
.Logo{
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.Navbar-Left{
    display: flex;
}
.Navbar-Left ul li a,
.Navbar-Right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.Navbar-Left ul li a:hover,
.Navbar-Right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.Navbar-Left ul,
.Navbar-Right ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.Navbar-Left{
    display: flex;
    margin-left: 12px;
}
.Navbar-Left ul{
    display: flex;
    margin-left: 12px;
}

.Navbar-Email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

.Navbar-Shopping-Card{
    position: relative;
    cursor: pointer;
}
.Navbar-Shopping-Card div{
    width: 8px;
    height: 8px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Desktop menu*/
.Desktop-Menu{
    position: absolute;
    top: 76px;
    right: 0;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    background-color: var(--white);
    padding: 20px 20px 0 20px;
}
.Desktop-Menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Desktop-Menu ul li{
    text-align: end;
}
.Desktop-Menu ul li:nth-child(1),
.Desktop-Menu ul li:nth-child(2){
    font-weight: bold;
}
.Desktop-Menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.Desktop-Menu ul li:last-child a{
    color: var(--hospital-green);

    font-size: var(--sm);
}

.Desktop-Menu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}

/*Mobile menu*/
.Mobile-Menu{
    position: absolute;
    top: 76px;
    left: 0;
    padding: 24px;
    background-color: var(--white);
}
.Mobile-Menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.Mobile-Menu ul:nth-child(3){
    padding-top: 50px;
}
.Mobile-Menu ul:nth-child(3) a{
    font-size: var(--sm);

    text-decoration: none;
    color: var(--hospital-green);
    font-weight: bold;
}

.Mobile-Menu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.Mobile-Menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.Mobile-Menu ul li{
    margin-bottom: 24px;
}

.Email{
    font-size: var(--sm);
    color: #000000;
    font-weight: 300 !important;
}

/*Aside (Product detail)*/
.Product-Details{
    width: 360px;
    padding: 0 24px;
    background-color: var(--white);
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.Title-Container{
    display: flex;
}
.Title-Container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.Title{
    font-size: var(--lg);
    font-weight: bold;
}

.My-Order-Content{
    display: flex;
    flex-direction: column;
}

.Order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;

    padding: 0 24px;
}

.Order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.Order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.Order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.Shopping-Card{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;

    margin-bottom: 24px;
    align-items: center;
}
.Shopping-Card figure{
    margin: 0;
}
.Shopping-Card figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.Shopping-Card p:nth-child(2){
    color: var(--very-light-pink);
}

.Shopping-Card p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

.Primary-Button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

/*Home*/
.Cards-Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    margin-top: 20px;
    gap: 26px;
    place-content: center;
}

.Product-Card{
    width: 240px;
}
.Product-Card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    border: solid 1px var(--hospital-green);
    object-fit: cover;
    cursor: pointer;
}

.Product-Info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.Product-Info figure{
    margin: 0;
}
.Product-Info figure img{
    width: 35px;
    height: 35px;
}

.Product-Info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
.Product-Info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 640px) {
    .Menu{
        display: block;
    }
    .Navbar-Left ul{
        display: none;
    }
    .Navbar-Email{
        display: none;
    }

    .Desktop-Menu{
        display: none;
    }

    .Product-Details{
        width: 100%;
    }

    .Cards-Container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    
    .Product-Card{
        width: 140px;
    }
    .Product-Card img{
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 641px) {
    .Mobile-Menu{
        display: none;
    }
}


